@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4 class="notes">This is Final project by Mark Pavlyuk. </h4>
        <h4 class="notes">You are currently in the home controller that has 3 pages:</h4>
    <ul class="notes">
        <li>Index</li>
        <li >Page1</liasp-action>
        <li >Page2</li>
    </ul>
    <p class="notes">You can access these three pages through multiple routing because of attribute routing:</p>
    <div class="row">
        <div class="col" >
             <a class="btn btn-primary" href="/1">Page1 through "/1"</a>
        </div>
                <div class="col" >
             <a class="btn btn-primary" href="/page">Page1 through "/page"</a>
        </div>
                <div class="col" >
             <a class="btn btn-primary" href="/1page">Page1 through "/1page"</a>
        </div>
    </div>
    <div class="row">
        <div class="col" >
             <a class="btn btn-primary" href="/2">Page2 through "/2"</a>
        </div>
                <div class="col" >
             <a class="btn btn-primary" href="/page2">Page2 through "/page2"</a>
        </div>
                <div class="col" >
             <a class="btn btn-primary" href="/2page">Page2 through "/2page"</a>
        </div>
    </div>
     <div class="row">
        <div class="col" >
             <a class="btn btn-primary" href="/">This page through "/"</a>
        </div>
                <div class="col" >
             <a class="btn btn-primary" href="/home">Page2 through "/page2"</a>
        </div>
                <div class="col" >
             <a class="btn btn-primary" href="/Home/Index">Page2 through "/Home/Index"</a>
        </div>
    </div>
    <hr />
    <h4>Attribute Routing:</h4>
    <img src="/pics/pic2.jpg" />

</div>
