@model PavlyukFinalProjectForCSI350.Models.Coffee


@{
    ViewData["Title"] = "Create";
}

<h4 class="notes">This is a Coffee Controller</h4>
<h4 class="notes">It has 2 action methods that have the same name: Create</h4>
<h5 class="notes">*First simply returns a view of the form for input (HttpGet)</h5>
<h5 class="notes">*Second passes entered values into the database (HttpPost)</h5>

<h4>Coffee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  class="btn btn-outline-primary" asp-action="Index">See The List</a>
</div>

<img  style="margin-top: 10px;" src="/pics/pic3.jpg" />
    
